html {
    background-color: #000;
    color: #fff;
}

.famousRedText{
	color: #fa5c4f;
}

.famousRedBackground{
	background-color: #fa5c4f;
}

.famousBlueText{
	color: #3cf;
}

.famousBlueBackground{
	background-color: #3cf;
}

.graph {
	/*background-color: white;*/
	background-image: linear-gradient(black 3px, transparent 3px, transparent 238px, black 238px);
    background-position: 0 20px;
    background-size: 40px 40px;
}

.header-bg {
	background-color: rgba(0, 0, 255, 1);
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75) 10%, transparent 100%);
    font-size: 4em;
    color: rgba(255, 255, 255, 1);
}

.footer-bg {
	background-color: rgba(0, 0, 255, 1);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 10%, transparent 100%);
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
}

.user-sign-bg {
	background-color: black;
}

.help-sign-bg {
	background-color: rgba(0, 0, 0, 0.25);
}

.help-bg {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 50px 20px;
}

.new-note-btn-bg {
	background-color: rgba(0, 0, 255, 1);
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75) 10%, transparent 100%);
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
    margin: 10px;
}